body {
    margin:0;
    background:#993366;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#993366;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#ccccb3;
}

.active {
    background-color:#ccccb3;
}

li a:visited{
    background-color:#ccccb3;
}

.div0{

	margin-top:40px;
	background-color:#4CAF50;
	height:90%;
}

.footerDiv{
   text-align:center;
   background-color:#4CAF50;
   height:5%;
}

.goTop{
    width:30px;
    height:5%;
    float:right;
}

.goTopDiv{
    background-color:#4CAF50;
}


.div1{
    margin:0 auto;
    width:1000px;
    height:90%;
    border:black solid 2px;
    background-color:white;	
}

.div2{
    float:left;
    width:700px;
    height:90%;
    border:black double 5px;
    background-color:#ffcc66;
}

.contentDiv{
    margin:0 auto;
    width:650px;
    background-color:#ffcc66;

}
.div3{
    width:280px;
    height:90%;
    border:black double 5px;
    background-color:#4CAF50;
    float:right;
}

.div4{
    width:265px;
    margin-left:5px;
    background-color:#4CAF50;
}

.div5{
    width:265px;
    margin-left:5px;
    background-color:#4CAF50;    
}
.div6{
    width:265px;
    margin-left:5px;
    background-color:#4CAF50;    
}
.bigduck{
	width:80px;
	height:80px;
}

.feed{
    width:55px;
    height:55px;
}


